.App {
  text-align: center;
}

nav{
  background-color: #788ba3;
  color: floralwhite !important;
  padding: 10px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a{
  color: rgb(189, 27, 15) !important;
}

ul a{
  color: floralwhite !important;
}
